.container {
  background-color: #fff;
  max-width: 768px;
  min-height: 48rem;
  margin: 10rem auto;
  border-radius: 1rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
}

.leftOverlayContainer {
  width: 50%;
  background-color: #eb4040;
  height: 48rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.rightOverlayContainer {
  width: 50%;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  height: 48rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.leftOverlayContainer > div,
.rightOverlayContainer > div {
  text-align: center;
  padding: 0 5rem;
}

.leftOverlayContainer h3,
.rightOverlayContainer h3 {
  font-size: 3.7rem;
  color: white;
}

.leftOverlayContainer p,
.rightOverlayContainer p {
  color: white;
  font-size: 1.4rem;
  word-wrap: break-word;
  text-align: center;
  margin: 2rem 0;
  font-weight: 600;
}

.leftOverlayContainer button,
.rightOverlayContainer button {
  padding: 1rem;
  width: 15rem;
  border-radius: 5rem;
  outline: none;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.signUpContainer {
  width: 50%;
  background-color: #fff;
  height: 48rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0 5rem;
}

.signUpContainer p {
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  margin: 2rem 0;
}

.signUpContainer h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
  word-wrap: break-word;
}

.signUpContainer input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  outline: none;
  border-radius: 0.8rem;
}

.signUpContainer button {
  padding: 1rem;
  width: 15rem;
  border-radius: 5rem;
  outline: none;
  border: 1px solid white;
  background-color: #eb4040;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.signUpBtn {
  margin-top: 2rem;
}

.responsiveToggle {
  display: none;
}

@media (max-width: 768px) {
  .container {
    background-color: #fff;
    max-width: 576px;
    min-height: 48rem;
    margin: 10rem auto;
    border-radius: 1rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
  }
  .rightOverlayContainer,
  .leftOverlayContainer {
    display: none;
  }
  .signUpContainer {
    width: 100%;
  }

  .responsiveToggle {
    font-size: 1.4rem;
    display: block;
  }
  .responsiveToggle span {
    color: #eb4040;
    cursor: pointer;
  }
}

@media (max-width: 380px) {
  .signUpContainer h3 {
    font-size: 2.5rem;
  }

  .responsiveToggle {
    font-size: 1rem;
  }
}

@media (max-width: 301px) {
  .signUpContainer h3 {
    font-size: 2.2rem;
  }

  .responsiveToggle {
    font-size: 0.8rem;
  }
}
