.userProfileWrapper {
    max-width: 1100px;
    margin: 8rem auto;
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.15),
    -2px 2px 5px rgba(0, 0, 0, 0.15);
    height: 50rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.userProfileWrapper .leftSide {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3rem;
    background-color: #f4f4f4;
}

.userProfileWrapper .leftSide > div{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   gap: 1rem;
 } 

.userProfileWrapper .leftSide img{
    width: 10rem;
    border-radius: 50%;
}

.userProfileWrapper .leftSide button{ 
    background-color: transparent;
    border: none;
    outline: none;
    color: #eb4040;
    cursor: pointer;
    font-size: 1.6rem;
 }

 .userProfileWrapper .leftSide p {
    font-size: 1.4rem;
    font-weight: 500;
 }

 .userProfileWrapper .leftSide input {
   padding: 1rem;
   border: 1px solid #e5e5e5;
   outline: none;
   background-color: #dddfff4f;
 }


 .rightSide {
    padding: 2rem;
    overflow-y: auto;
 }

 .rightSide h3{
    font-size: 2rem;
 }


 .rightSide table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    margin-top: 1.5rem;
 }

 .rightSide table th {
    background-color: #fff;
    color: black;
    border-bottom: 1px solid #e4e4e4;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem;
    
 }
 input[type="file" i] {
   appearance: none;
   background-color: none;
   cursor: default;
   align-items: baseline;
   color: none;
   text-overflow: none;
   white-space: none;
   text-align: start !important;
   padding: initial;
   border: initial;
   overflow: hidden !important;
}

 .rightSide table tr {
   cursor: pointer;
 }

 .rightSide table td {
    padding: 1rem 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    
 }

 .rightSide table td span{
    background-color: rgb(130, 255, 130);
    padding: 0.2rem 2rem;
    border-radius: 1rem;
  }

@media (max-width: 1100px) {
   .userProfileWrapper {
      max-width: 768px;
   }
}

@media (max-width: 768px) {
   .userProfileWrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 5fr;
      height: auto;
      max-width: 576px;
   }

   .userProfileWrapper .leftSide {
      padding: 1rem 0;
   }

}

@media (max-width: 576px) {
   .userProfileWrapper {
      max-width: 480px;
   }
}

@media (max-width: 480px) {
   .userProfileWrapper {
      max-width: 95vw;
   }
   .rightSide {
      padding: 0;
   }
}