.ordersDiv {
   overflow-x: auto;
}
.ordersDiv table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    margin-top: 1.5rem;
 }

 .ordersDiv table th {
    background-color: #fff;
    color: black;
    border-bottom: 1px solid #e4e4e4;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem;
    
 }

 .ordersDiv table tr {
   cursor: pointer;
 }

 .ordersDiv table td {
    padding: 1rem 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    
 }

 .ordersDiv table td span{
    background-color: rgb(130, 255, 130);
    padding: 0.2rem 2rem;
    border-radius: 1rem;
  }