.FilterAndListPanelWrapper {
  display: grid;
  grid-template-columns: 25rem 1fr;
  width: 100vw;
}

.activeCategory {
  background-color: #000;
  color: white !important;
}

.Not_Found {
  font-size: 4rem;
  text-align: center;
  margin-top: 10rem;
}

@media (max-width: 1200px) {
  .FilterAndListPanelWrapper {
    grid-template-rows: 50rem 4fr;
    grid-template-columns: 1fr;
    padding: 0 2rem 0 1rem;
  }
}
