.mainWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 85vh;
    text-align: center;
}

.mainWrapper h2 {
    font-size: 2.6rem;
}

.mainWrapper p span{
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1.5rem 0;
}

.mainWrapper p{
    font-size: 1.6rem;
    margin: 1.5rem 0;
}
.mainWrapper button {
    border: none;
    outline: none;
    background-color: #fb4040;
    color: white;
    padding: 0.7rem 2.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    border-radius: 0.3rem;
    font-weight: bold;
}