.adminMainWrapper {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 25rem 1fr;
  /* overflow:hidden; */
}

/* Left Panel Starts */
.adminMainWrapper .leftPanel {
  color: #000;
  padding: 2rem 0rem;
}

.adminMainWrapper .leftPanel > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  padding: 0 1rem;
}



.adminMainWrapper .leftPanel > div button {
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  display: none;
}
.logoutBtn{ 
  color: #f40f0f;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 0.5rem;
  cursor: pointer;
}

.leftPanel ul {
  margin-top: 3rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.leftPanel .menuLinks {
  font-size: 1.6rem;
  color: black;
  font-weight: 600;
  padding: 1rem;
}

.leftPanel .menuLinks li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.leftPanel .active {
  background-color: #b6f2ff;
}

/* Left Panel Ends */

@media (max-width: 950px) {
  .adminMainWrapper {
    grid-template-columns: 1fr;
  }
  .leftPanel {
    padding: 1.5rem !important;
  }

  .adminMainWrapper .leftPanel > div {
    padding: 0;
  }

  .leftPanel ul {
    display: none;
  }
  .activeMenu {
    display: flex !important;
  }
}

@media (max-width: 950px) {
  .adminMainWrapper {
    display: block!important;
  }
}
