.success {
    background-color: #15CD72;
}

.error {
    background-color: #d9534f;
}

.alert {
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 5rem;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
}

.alert span {
    cursor: pointer;
}

.none {
    display: none!important;
}