.cardWrapper {
    border: 1px solid #c4c4c4;
    position: relative;
}

.bgWrapper {
    background-color: #6dd5ed;
    width: 100%;
    height: 12rem;
}

.imgWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 0;
}

.imgWrapper img {
    width: 8rem;
}

.bodyWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 4.5rem;
    padding: 2rem 0;
}

.bodyWrapper h3{
    font-size: 1.8rem;
}

.bodyWrapper p{
    color: #666;
    font-size: 1.5rem;
 }

 .bodyWrapper .email {
    font-size: 1.6rem;
    text-decoration: underline;
    color: #6dd5ed;
 }