.cardWrapper {
    border: 1px solid #c4c4c4;
}

.cardWrapper img{
    width: 100%;
    height: 29rem;
 }

 .cardBodyWrapper {
    padding: 1rem;
 }

 .cardBodyWrapper h3 {
    font-size: 1.6rem;
 }

 .cardBodyWrapper p {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0.5rem 0;
 }

 .buttonWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
 }

 .cardBodyWrapper button {
    background-color: transparent;
    border: 1px solid #666;
    padding: 0.5rem;
    width: 100%;
    font-size: 2rem;
    cursor: pointer;
 }

 .cardBodyWrapper button:first-child i{
    color: green;
 }

 .cardBodyWrapper button:last-child i{
    color: red;
 }