/*************************** Navbar Starts Here ******************************/
header {
  position: sticky !important;
}
.navbar {
  width: 100vw;
  height: 7rem;
  display: grid;
  grid-template-columns: 10rem 1fr 1fr 1fr 10rem;
  background-color: white;
  color: #203040;
  place-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.item1 {
  justify-self: start;
  grid-column: 2/3;
}


.logoBoxLink {
  color: #000;
}

.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoBox i {
  font-size: 2.2rem;
  color: #eb4040;
  margin-right: 0.3rem;
}

.logo {
  font-size: 3rem;
}

.item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
}

.item2 i {
  font-size: 2rem;
  color: #eb4040;
  margin: 0 1rem;
  cursor: pointer;
}

.registerBtn {
  padding: 1rem 2rem;
  background-color: #eb4040;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  margin-left: 1rem;
  cursor: pointer;
}



.userDiv {
 margin-left: 2rem;
}

.userDiv i {
  color: black;
  margin: 0 0.4rem;
  font-size: 2.5rem;
}

.registerBtn .regLink {
  color: white;
}

.cartLink {
  position: relative;
}

.cartLink span {
  position: absolute;
  top: -150%;
  left: 60%;
  padding: 0.3rem 0.7rem;
  background-color: #203040;
  color: white;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.item3 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.item3 ul li {
  list-style: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.nav-link {
  list-style: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #666;
}

.toggleBtn {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 0.2rem #203020 solid;
  border-radius: 0.3rem;
  display: none;
  align-items: center;
  justify-content: center;
}

.toggleBtn i {
  color: #203020;
  font-size: 1.4rem;
}

/* .search {
  border: none;
  outline: none;
  padding: 1rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1),
    0 -0.1rem 0.5rem rgba(0, 0, 0, 0.1);
} */

li {
  list-style: none;
}

@media (max-width: 1080px) {
  .navbar {
    grid-template-columns: 5rem 1fr 5rem;
    place-items: start;
    row-gap: 1.5rem;
    padding: 1rem 1rem;
    height: auto;
  }
  .item2,
  .item1,
  .item3 {
    grid-column: 2/3;
    justify-self: start;
  }
  .item1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .toggleBtn {
    display: flex;
  }
  .notActive {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .navbar {
    grid-template-columns: 2rem 1fr 2rem;
    place-items: start;
    row-gap: 1.5rem;
    padding: 1rem 1rem;
    height: auto;
  }
}

@media (max-width: 480px) {
  .item2 {
    gap: 1.5rem;
  }
  .item2 i {
    margin: 0 !important;
  }
}

@media (max-width: 330px) {
  .item3 ul {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .item2 i {
    margin: 0 !important;
  }
}

/*************************** Navbar Ends Here ******************************/
