.headingDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.common-heading {
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    margin: 2rem 0;
    border-bottom: 2px solid #fb4040;
}

.cardBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media (max-width: 1250px) {
    .cardBox {
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
    }
}

@media (max-width: 768px) {
    .common-heading {
        font-size: 2.5rem;
    }
    .cardBox {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}


@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 345px) {
    .common-heading {
        font-size: 2rem;
    }
}